---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


In addition to the projects mentioned in the <a href="https://jacklaw2001.github.io/research/">Research</a> section, I’ve also worked on some small but fun projects in my spare time. I did these projects out of interest. Overall, I am interested in data science and algorithms. In my spare time, I enjoy scraping data and uncovering meaningful patterns from it.

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

